doctype html
html
  head
    title TravelQ&A with Watson
  body
    if answers && answers.question
      div
        if answers.question.evidencelist && answers.question.evidencelist.length > 0
          p #{answers.question.evidencelist[1].text}
        else
          p Umm... Sorry, Watson has no answers.
      p Any more question?
    else
      p Any question?
    div
      form(action='/', method="post")
        input(type='text', name='question')
        input(type='submit', value='Send')
