doctype html
html
  head
    title TravelQA by Watson
  body
    h1 ---- Question ----
    form(action='/', method="post")
    input(type='label', value='Question')
    input#question(type='text')
    input(type='submit', value='Send')
    h1 ---- Answers ----
    p= answers
